.alert{

    position:fixed;
    top:0;
    display: flex;
    right:-200px;

}
.active-alert{
       
    position:fixed;
    top:0;
    display: flex;
    right:-200px;
    animation: movein 1s ease backwards, moveout 1s 2s ease backwards;

}
@keyframes movein {
    from { right: -200px; }
    to   { right: 20px; }
  }
  
  @keyframes moveout {
    from { right: 20px; }
    to   { right: -200px; }
  }