.note{
 background-color:#FA90E3;
 height: 250px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: space-between;
}
.newNote{
    background-color:#95CACD;
 height: 250px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: space-between;
}
textarea{
    border: none;
    background-color: transparent;
    empty-cells: hide;
    resize: none;
    outline: none;
}
.foot{
 display: flex;
 justify-content: space-between;
 align-items: center;

}
