.note{
 background-color:#FA90E3;
 height: 250px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: space-between;
}
.newNote{
    background-color:#95CACD;
 height: 250px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 padding: 10px;
 justify-content: space-between;
}
textarea{
    border: none;
    background-color: transparent;
    empty-cells: hide;
    resize: none;
    outline: none;
    margin-top:10px;
}
.foot{
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.title
{
    background: none;
    border: none;
    outline: none;
}
.dark {
  color:white;
}
.title{
    font-weight: bold;
    font-size: 16px;
}
.searchDiv{
    display: flex;
    justify-content: flex-end;
}